.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: sans-serif;
  margin: 0;
}

.header{
  width: 35%;
  padding-top: 20px;
  padding-bottom: 5px;
  margin: 0 auto;
}

.header p {
  margin: 0;
  margin-left: 5px;
  font-size: 34px;
  font-weight: bold;
  text-align:justify;
}

.mcontainer {
  width: 35%;
  margin: 0 auto;
  height: fit-content;
}

.search_box{
  height: 45px;
}

.inpBox{
  width: 87%;
  height: 36px;
  font-size: 18px;
  font-weight: 200;
  border-radius: 2px;
  border: 2px solid rgb(211, 211, 211);
  color: rgb(72, 72, 72);
  padding: 0;
}


.fetchBtn{
  width: 10%;
  height: 40px;
  border-radius: 2px;
  border: 2px solid rgb(211, 211, 211);
  padding: 0;
  font-size: 18px;
  float: right;
}
.fetchBtn:hover{
  background-color: #ddd;
}

.cards_container {
  width: 100%;
  height: 20px;
  height: fit-content;
}

.mcard{
  height: 140px;
  margin-top: 7px;
  border: 2px solid rgb(211, 211, 211);
}
.mcard:hover {
  box-shadow: 2px 2px rgba(107, 107, 107, 0.5);
}

.flag {
  width: 35%;
  margin-left: 3.0%;
  height: 120px;
  margin-top: 10px;
  float: left;
}

.flag_img {
  min-width: 100%;
  max-width: 100%;
  min-height: 120px;
  max-height: 120px;
  object-fit: fill;
  border: 1px solid rgb(199, 199, 199);
}

.info_area{
  width: 55%;
  margin-right: 3.0%;
  height: 120px;
  margin-top: 10px;
  float: right;
}

.info{
  width: 100%;
  height: 70px;
}

.name, .currency, .capital{
  margin: 0;
}

.name{
  font-size: 22px;
  font-weight: bold;
  /* margin-bottom: 5px; */
}

.currency, .capital{
  font-size: 14px;
  font-weight: bold;
  /*margin-bottom: 5px;*/
}

.ref_area {
  width: 100%;
  margin-top: 5px;
  height: 45px;
}

.map_btn_span, .detail_btn_span {
  display: inline-block;
  width: 45%;
  height: 35px;
  margin-top: 5px;
  border-radius: 3px;
  border: 2px solid rgb(38, 38, 249);
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  color: rgb(69, 69, 251);
}

.detail_btn_span:hover, .map_btn_span:hover {
  box-shadow: 2px 2px rgba(79, 79, 250, 0.4);
}